<form [formGroup]="inputForm" (ngSubmit)="inputForm.valid && onSubmit()">
  <div class="flex align-items-center flex-wrap card-container mt-2 mb-2">
    <span class="p-input-icon-left" >
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Username" formControlName="username"/>
    </span>
    <p-message class="mx-2" severity="info" *ngIf="pagedmessage !== undefined;then showMessageCount"></p-message>
  </div>
</form>

<ng-template #showMessageCount>
  <p-message class="mx-2" severity="info" *ngIf="totalMessages>0;else showNoMessages" text="{{totalMessages}} messages found for {{username}}."></p-message>
</ng-template>
<ng-template #showNoMessages>
  <p-message class="mx-2"  severity="warn" *ngIf="error == undefined else showError" text="No messages found for {{username}}"></p-message>
</ng-template>
<ng-template #showError>
  <p-message class="mx-2" severity="error" text="{{error}}">
  </p-message>
</ng-template>

<p-table *ngIf="messages.length >0"
         [columns]="columns"
         [value]="messages"
         responsiveLayout="stack"
         styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
         [resizableColumns]="true"
         infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="100"  (scrolled)="onScroll()">
  <ng-template pTemplate="header">
    <tr>
      <th>Time UTC</th>
      <th>User</th>
      <th>Message</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-message>
    <tr>
      <td>{{formatDate(message.time)}}</td>
      <td>{{message.username}}</td>
      <td style="white-space: break-spaces">{{message.message}}</td>
    </tr>
  </ng-template>
</p-table>

<div *ngIf="error==undefined" class="flex align-items-center flex-wrap card-container mt-2 mb-2">
  <p-message severity="info" *ngIf="pagedmessage == undefined;else endOfLogs" text="Loading messages..." ></p-message>
</div>
<ng-template #endOfLogs>
  <p-message *ngIf="pagedmessage != undefined && pagedmessage.finalPage && totalMessages != 0;else loadMore" severity="info"  text="End of logs."></p-message>
</ng-template>
<ng-template #loadMore>
  <p-message *ngIf="pagedmessage != undefined && totalMessages != 0" severity="info"  text="Keep scrolling to load more messages."></p-message>
</ng-template>

