<form [formGroup]="inputForm" (ngSubmit)="inputForm.valid && onSubmit()">
  <input type="text" formControlName="username" placeholder="Enter Username">
  <input type="submit" value="Submit">
</form>

<Table class="message-container" infiniteScroll [infiniteScrollDistance]="0.5"
       [infiniteScrollThrottle]="500"  (scrolled)="onScroll()">
  <p *ngIf="pagedmessage !== undefined">{{pagedmessage.totalElements}} messages found for {{username}}.</p>
  <tr *ngFor="let msg of messages">{{formatDate(msg.time)}} {{msg.username}}: {{msg.message}}</tr>
  <p *ngIf="pagedmessage == undefined; then loading else hasPaged"></p>
</Table>

<ng-template #loading><p *ngIf="error == undefined; else showError">Loading messages...</p></ng-template>
<ng-template #showError><p>{{error}}</p></ng-template>

<ng-template #hasPaged><p *ngIf="pagedmessage?.last;else loadMore">End of logs.</p></ng-template>
<ng-template #loadMore><p>Keep scrolling to load more messages.</p></ng-template>
